node_modules/
.gulp-scss-cache
.sass-cache
.DS_Store
gif/

# models
model_scratch.pt
model_transfer.pt
model_32.pth
model_64.pth
model_128.pth
model_256.pth

# datasets
animals/
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
landmark_images/
flower_photos/
