node_modules/
.gulp-scss-cache
.sass-cache
.DS_Store
gif/
logs/
models/
tfjs_models/
extensions/*
extensions/*/*
!extensions/**/README.md
portfolio/tensorflow-tutorials/
libnvinfer7_7.1.3-1+cuda11.0_amd64.deb
nvidia-machine-learning-repo-ubuntu1804_1.0.0-1_amd64.deb
todo.txt
notes.txt
result_imgs/

# models
model_scratch.pt
model_transfer.pt
model_32.pth
model_64.pth
model_128.pth
model_256.pth

# datasets
animals/
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
landmark_images/
flower_photos/
