boto3==1.26.150
# cython
huggingface_hub==0.15.1
imageio==2.31.0
jupyter==1.0.0
kaggle==1.5.13
keras-tqdm==2.0.1
matplotlib==3.7.1
opencv-python==4.7.0.72
plotly==5.15.0
pydot==1.4.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
tensorflow==2.10.0
tensorflow-addons
tensorflowjs==4.4.0
tensorflow-datasets==4.9.0
tensorflow-hub==0.12.0
wandb==0.15.4
