section.about#about-me
  .container
    h1 About me
    .row
      .col-12
        .biography
          | Hey! I'm Dylan.
          br
          | I'm an engineer at heart - I love tinkering with things, taking stuff apart, and creating problems just for the satisfaction of solving them. 
          br
          br
          | That being said, I'm not interested in solving trivial problems like maintaining blogs.
          br
          | I want to figure out how to use bleeding edge technology to solve huge, interesting, and important problems in medicine, the environment, and aerospace.
          br
          br
          | I want to create the world that sci-fi movies painted for us. If you need me - I'll be dragging the future into the present as quickly as I can code.
          br
          br
          a(href='mailto:dylan.r.larrabee@gmail.com') <u>Hope to hear from you soon!</u>
    img.signiture(src='public/icons/sig.png')
    a(href='public/files/Dylan_Larrabee_Resume.pdf', download='')
      .resume-button Download Resume