section.experiance
  .container
    h1 My Experiance
    h3 Wonder Workshop, Head Web Services Engineer
    ul
      li Worked on many cross-functional teams to meet business objectives; including marketing, education, design, quality assurance, and localization
      li Owner and maintainer of frontend and backend for the company’s microservice based web services
      li Built a scalable, high throughput user data storage solution to provide cloud storage for applications
      li Lead the engineering effort of the company’s education application for schools
      li Proctored technical interviews for candidates applying to the company
    h3 Hack Reactor, Lead Software Engineering Fellow
    ul
      li Designed and contributed to program containerization/ microservice curriculum used by hundreds of students yearly
      li Mentored multiple engineering teams through code review, debugging, and architecture design
      li Built internal tool that efficiently distributed student-instructor time within the team, saving ~10 hours per week
      li Proctored 100+ technical interviews and mock interviews for prospective students and alumni
      li Conducted twice-weekly lectures to 70+ students on algorithms and coding challenges