#chart
  #cover
    .name Dylan Larrabee
    .icons
      a(href='mailto:dylan.r.larrabee@gmail.com')
        img.icon(src='public/icons/mail.png')
      a(href='http://www.github.com/dylanlrrb/')
        img.icon(src='public/icons/gh1.png')
      a(href='http://www.linkedin.com/in/dylan-larrabee/')
        img.icon(src='public/icons/linkedin.png', style='margin-right: 0%')
    .labels
      p
      | full-stack
      br
      | software engineer
    a(href='#about-me')
      img.arrow(src='public/icons/down.png', style='margin-right: 0%')

script(src='dist/js/veroni.js')