#chart
  #cover
    .name Dylan Larrabee
    .icons
      a(href='https://www.github.com/dylanlrrb/', target="_blank")
        img.icon(src='public/icons/gh1.png')
      a(href='https://www.linkedin.com/in/dylan-larrabee/', target="_blank")
        img.icon(src='public/icons/linkedin.png')
      a(href='mailto:dylan.r.larrabee@gmail.com')
        img.icon(src='public/icons/mail.png')
      a(href='https://www.youtube.com/channel/UCmLX_4omTgyM3y3gz7qTK2Q/featured', target="_blank")
        img.icon(src='public/icons/yt.png', style='margin-right:0;')
    .labels
      p
      | full-stack
      br
      | software engineer
    a(href='#about-me')
      img.arrow(src='public/icons/down.png', style='margin-right: 0%')

script(src='dist/js/veroni.js')