section.portfolio
  .container
    h1 Portfolio
    .row
      .col-5
        img.app-screenshot(src='public/shots/LF/lf.gif')
      .col-7
        h3 Lava Flow Notes
        .project
        | Lava Flow is a native iOS iPad app built using XCode's SpriteKit and leveraging Realm for data persistence.
        br
        br
        | This app allows users to take notes in a natural and intuitive way by structuring customizable cards in horizontal hierarchies.
        br
        | Recursive algorithms highlight connected and subordinate ideas in the hierarchy, allowing users to easily prune large complicated thought processes and trace their origins.
        br
        | The world is structured in hierarchies so a note taking app that can capture these relationships has limitless possibilities. It's great for things like ToDo lists, structuring technical papers, brainstorming, mind mapping, and a lot more!
        br
        br
        a(href='https://github.com/dylanlrrb/LavaFlow') View it on Github
        .tagholder
          .tag
            | Swift
          .tag
            | SpriteKit
          .tag
            | iOS 9
          .tag
            | Realm
    .row
      .col-5
        img.app-screenshot(src='public/shots/Teleporter/teleporter3.gif', style='border-radius: 10px;')
      .col-7
        h3 Teleporter
        .project
        | Teleporter is a mobile app that utilizes the experimental WebVR API through the A-Frame VR framework.
        br
        br
        | The app uses A-Frame and AngularJS for DOM manipulation to render photospheres in virtual space. The VR environments that immerses the user are equirectangular photos fetched from the Flickr API.
        br
        | Teleporter has a unique and intuitive UI; gazing at the sphere injected into the scene opens a menu for the user to choose the theme of the photosphere they would like to be teleported to next.
        br
        br
        a(href='https://github.com/dylanlrrb/Teleporter') View it on Github
        .tagholder
          .tag
            | Javascript
          .tag
            | A-FrameVR
          .tag
            | AngularJS
          .tag
            | PostgreSQL
          .tag
            | Flickr API
    .row
      .col-5
        img.app-screenshot(src='public/shots/DockerCurr/docker.svg')
      .col-7
        h3 Please-Contain-Yourself.
        .project
        | Please-Contain-Yourself is Docker curriculum that introduces developers to software containerization practices.
        br
        br
        | Tools like Docker are immensely useful and popular for development and deployment, however, a large problem is that they are incredibly intimidating to get started with.
        br
        | This tutorial is a github repo designed to solve that problem and get developers from zero to using Docker as quickly as possible. Please-Contain-Yourself is a very easy-to-follow guide that provides both conceptual and practical clarity to topics such as containerization, microservices, and orchestration.
        br
        br
        | Included in the repo are original, hands-on coding projects to exhibit both simple and advanced uses of Docker. These projects demonstrate how to use Docker in practical and useful ways such as how to containerize your development environment, deployment with Docker, coordinating multi-container applications with Docker Compose, orchestrating and scaling multi-host clusters with Docker Swarm, and more!
        br
        br
        | Try it out! It's open source so feel free to make a pull request!
        br
        br
        a(href='https://github.com/dylanlrrb/Please-Contain-Yourself') View it on Github
        .tagholder
          .tag
            | Docker
          .tag
            | Docker Compose
          .tag
            | Docker Swarm
          .tag
            | Node.js
          .tag
            | Javascript
          .tag
            | NGINX
    .row
      .col-5
        img.app-screenshot(src='public/shots/Shakle/Shakle.png', style='border-radius: 10px;')
      .col-7
        h3 Shakle Promise Library
        .project
        | Shakle is an open-source and educational Promise module hosted on npm.
        br
        br
        | This package provides a Promise class and some advanced helper methods all written in plain vanilla JavaScript. The module is meant to be used functionally, but Shakle is also meant to be used as an educational resource for those in the JavaScript community who want to be introduced, get better at, or need a refresher to Promises.
        br
        | The source code is heavily commented as to provide a deep dive into not only what Promises do but also how they do it.
        br
        | Comprehensive Mocha tests are set up for the user to easily explore the module's functionality and even extend it's functionality using Test Driven Development.
        br
        |  Feel free to tinker!
        br
        br
        a(href='https://github.com/dylanlrrb/Shakle') View it on Github
        br
        a(href='https://www.npmjs.com/package/shakle') View it on npm
        .tagholder
          .tag
            | Javascript
          .tag
            | npm
          .tag
            | Node.js
          .tag
            | Mocha
          .tag
            | Chai
          .tag
            | Continuous Integration
    .row
      .col-5
        img.app-screenshot(src='public/shots/Ripple/Ripple.gif', style='border-radius: 10px;')
      .col-7
        h3 Ripple
        .project
        | Ripple is a web service that allows users to easily integrate their favorite web services with each other.
        br
        br
        | With Ripple your apps work for you, behind the scenes, even when you're not using them.
        br
        | Ripple is all about chain reactions. When you post a photo to Instagram, Ripple will upload it to your Dropbox. When you finish a run using Fitbit, Ripple will record your run in Google Sheets.
        br
        | In Ripple, a relationship between two web services is called a concoction. A concoction follows basic cause and effect logic. Select a trigger app and event, then choose your action app and event.
        br
        br
        | In addition to handling authentication and automatic access token renewal for over ten APIs, the app's performant backend is optimized to handle hundreds of concurrent requests and listens in the background for webhook responses from all of the user's authorized APIs. Ripple's servers dynamically and efficiently query users' concoction data to respond appropriately and accordingly.
        br
        br
        a(href='https://github.com/dylanlrrb/Ripple') View it on Github
        .tagholder
          .tag
            | Javascript
          .tag
            | Node.js
          .tag
            | React
          .tag
            | Redux
          .tag
            | ES6
          .tag
            | Express
          .tag
            | PostgreSQL
          .tag
            | Passport
          .tag
            | FitBit API
          .tag
            | Google API
          .tag
            | Instagram API
          .tag
            | Slack API
          .tag
            | Strava API
          .tag
            | Twilio API
          .tag
            | Evernote API
          .tag
            | Github API
          .tag
            | Webpack
    .row
      .col-5
        img.app-screenshot(src='public/shots/Markable/markable2.png', style='border-radius: 10px;')
      .col-7
        h3 Markable
        .project
        | Markable is a social way to markup the web.
        br
        br
        | Markable is a chrome extension that allows users to add notes and markup webpages which become viewable to other friended users.
        br
        | The extension utilizes the Angular framework to handle consistent DOM injection and overlay rendering without degrading the integrity of the website's original styling.
        br
        | Data persistence is accomplished with a PostgreSQL database; the schema, queries, and server all being engineered for fast concurrent access which can handle thousands of requests per second.
        br
        br
        a(href='https://github.com/dylanlrrb/Markable') View it on Github
        .tagholder
          .tag
            | Javascript
          .tag
            | Node.js
          .tag
            | AngularJS
          .tag
            | PostgreSQL
          .tag
            | Chrome Extensions
    .row
      .col-5
        .row
          .col-6
            img.app-screenshot(src='public/shots/Tag/2.jpeg')
          .col-6
            img.app-screenshot(src='public/shots/Tag/3.jpeg')
      .col-7
        h3 TagMe
        .project
        | TagMe is a photo journaling app that uses machine learning to automatically tag your media as you capture it.
        br
        br
        | This app is built using React Native and Exponent, which allows deployment to both iOS and Android platforms very easily.
        br
        | TagMe uses the Clarifai API and it's machine learning algorithms to identify, describe, and tag relevant subject matter in your photos.
        br
        | The app's backend optimizes synchronous and asynchronous API calls for a performant user experience.
        br
        | TagMe integrates S3 Amazon Web Services with MongoDB to optimize cloud-backend media storage and retrieval.
        br
        br
        a(href='https://github.com/dylanlrrb/TagMe') View it on Github
        .tagholder
          .tag
            | Javascript
          .tag
            | React Native
          .tag
            | Exponent
          .tag
            | MongoDB
          .tag
            | AWS
          .tag
            | S3
          .tag
            | Mocha
          .tag
            | Chai
    .row
      .col-5
        img.app-screenshot(src='public/shots/Wander/wander.gif', style='border-radius: 10px;')
      .col-7
        h3 Wanderer
        .project
        | Wanderer is a novel trip planning app. Just have it listen to a list of places you would like to visit and Wanderer plans the optimal route between those destinations.
        br
        br
        | The app uses the browser's WebSpeech API to transcribe the description of your trip, then custom algorithms parse this request and in turn use the Google Maps API to plan a trip that includes all the mentioned locations.
        br
        | Additionally, each location is marked and becomes clickable on the provided map. Clicking a waypoint marker reveals photos taken at points of interest at the selected location by integrating geolocation with the Flickr API. In addition to these suggested points of interest, Wanderer also provides suggestions for places to lodge and places to eat near each waypoint, again from the integration with Google Map's API.
        br
        br
        a(href='https://github.com/dylanlrrb/TripPlanner') View it on Github
        .tagholder
          .tag
            | Javascript
          .tag
            | WebSpeech API
          .tag
            | GoogleMaps API
          .tag
            | Flickr API
          .tag
            | Chrome Extensions