section.todos
  .container
    h1 My Technical Learning ToDo List
    h4 A little taste of the topics and fields that excite me which I am actively exploring.
    .issue-container
      img.issue-green(src="../../public/icons/ghissue.png")
      .row
        .col-9
          span.head 11 Open
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Functional Programing
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10224 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title CAD design/ 3D printing
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10225 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Open source contributions
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10226 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Programing Tutorials
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10227 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Arduino/ microcontroller programing
            span.tag.blue backlog
        .row
          .col-9
            .opened #10228 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Web/ Network Security
            span.tag.blue backlog
        .row
          .col-9
            .opened #10229 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Bioinformatics
            span.tag.blue backlog
        .row
          .col-9
            .opened #10230 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Neural Nets/ Machine Learning
            span.tag.blue backlog
        .row
          .col-9
            .opened #10231 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Big data processing pipelines
            span.tag.blue backlog
        .row
          .col-9
            .opened #10232 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Cryptography
            span.tag.blue backlog
        .row
          .col-9
            .opened #10233 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Web bluetooth
            span.tag.blue backlog
        .row
          .col-9
            .opened #10234 opened by dylanlrrb
      