section.todos
  .container
    h1 My Technical Skill ToDo List
    h4 A little taste of the topics and fields that excite me, which I am actively exploring.
    .issue-container
      img.issue-green(src="../../public/icons/ghissue.png")
      .row
        .col-11
          span.head 11 Open
          span.closed Many Closed
          span.sort Author
          span.sort Lables
          span.sort Projects
          span.sort Milestones
          span.sort Assignee
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="https://gist.github.com/dylanlrrb/48c0ea57dee2797be355dd16d82db174", target="_blank") Functional Programing
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10224 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="http://rosalind.info/problems/locations/", target="_blank") Bioinformatics
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10230 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="https://github.com/HabitRPG/habitica", target="_blank") Open source contributions
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10226 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="https://www.youtube.com/channel/UCmLX_4omTgyM3y3gz7qTK2Q/featured", target="_blank") Create Programing Tutorials
            span.tag.red in&nbsp;progress
        .row
          .col-9
            .opened #10227 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Arduino/ microcontroller programing
            span.tag.blue backlog
        .row
          .col-9
            .opened #10228 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="https://github.com/sbilly/awesome-security", target="_blank") Web/ Network Security
            span.tag.blue backlog
        .row
          .col-9
            .opened #10229 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="https://gist.github.com/dylanlrrb/c2a56938f82a252318c8de9f89c30099", target="_blank") CAD design/ 3D printing
            span.tag.blue backlog
        .row
          .col-9
            .opened #10225 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            a.title(href="http://neuralnetworksanddeeplearning.com/", target="_blank") Neural Nets/ Machine Learning
            span.tag.blue backlog
        .row
          .col-9
            .opened #10231 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Big data processing pipelines
            span.tag.blue backlog
        .row
          .col-9
            .opened #10232 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Cryptography
            span.tag.blue backlog
        .row
          .col-9
            .opened #10233 opened by dylanlrrb
      .issue-list-item
        img.issue(src="../../public/icons/ghissue.png")
        .row
          .col-9
            span.title Web bluetooth
            span.tag.blue backlog
        .row
          .col-9
            .opened #10234 opened by dylanlrrb
      