.Results {
  text-align: left;
}

.Results-detected {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
}

.Results-masks-container {
  height: calc(var(--vw, 1vw) * 100);;
  width: 100%;
  position: absolute;
  top: 95px;
  opacity: 40%;
}

.Results-box-label {
  background-color: rgba(255, 0, 0, 0.6);
  position: absolute;
  padding: 5px;
  font-weight: bold;
}

.Results-box-highlight {
  position: absolute;
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.6);
  border-width: 2px;
}

.Results-span {
  padding: 5px 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Results-text {
  display: flex;
  justify-content: flex-start;
}

.Results-loader {
  display: inline-block;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.Results-loader:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

