section.todos {
  color: #000;
  margin: 50px 0;

  h1 {
    color: #555;
  }

  .issue-container {
    width: 100%;
    max-width: 980px;
    border-style: solid;
    border-width: 1px;
    border-color: #E1E4E8;
    background-color: #F6F8FA;
    border-radius: 3px 3px 0 0;
    margin: auto;
  }

  .issue {
    height: 17px;
    width: 15px;
    float: left;
    margin: 12px 0px 0 15px
  }

  .issue-green {
    height: 17px;
    width: 15px;
    float: left;
    margin: 17px 0px 0 15px
  }

  .head {
    line-height: 35px;
    font-weight: bold;
  }

  .issue-list-item {
    border-style: solid;
    border-radius: 0;
    border-width: 1px 0 0 0;
    border-color: #E1E4E8;
    background-color: #fff;
    &:hover {
      background-color: #F6F8FA;
    }
  }

  .title {
    font-size: 1.1em;
    line-height: 25px;
    font-weight: bold;
    &:hover {
      color: #532BE3;
    }
  }

  .tag {
    padding: 5px;
    border-radius: 2px;
    font-size: 0.7em;
    margin: 0 10px;
  }

  .red {
    background-color: red;
    color: #fff;
  }

  .blue {
    background-color: blue;
    color: #fff;
  }

  .opened {
    color: #586069;
    font-size: 12px;
    line-height: 1;
    margin-left: 30px;
  }
}