html {
  color: black;
  background-color: white;
  scroll-behavior: smooth;
  font-family: "Segoe UI",Arial,sans-serif;
}

body {
  margin: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
 }
 a:hover {
  color: rgb(0, 94, 255);
 }
 a:active {
   color: rgb(0, 144, 206);
 }

header.desktop {
  visibility: visible;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.407);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.407);
}
header.mobile {
  display: none;
}


.name {
  font-size: 40px;
  font-weight: 300;
  padding: 20px 50px;
}

.nav {
  padding: 20px 50px;
  font-size: 18px;
}

.nav-button-regular {
  border: none;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.nav-button-special {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 94, 255);
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: inherit;
  cursor: pointer;
  color: rgb(0, 94, 255);
}
.nav-button-special:hover {
  background-image: -o-linear-gradient(left, white , white);
  background-image: -webkit-gradient(linear, left top, right top, from(white) , to(white));
  background-image: linear-gradient(to right, white , white);
  color: black;
  border-color: black
}


section {
  min-height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  scroll-margin-top: 150px;
  border: none;
}

.title {
  position: absolute;
  top: 0px;
  text-align: center;
}
.title h1 {
  font-size: xx-large;
  margin: 0px 0px 10px 0px;
}
.title h2 {
  font-size: medium;
  font-weight: 100;
  margin: 0px;
}

.content {
  width: 90%;
  margin: 50px 0;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selfie {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 40px 20px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.407);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.407);
  position: relative;
  height: 80vw;
  width: 80vw;
  max-height: 400px;
  max-width: 350px;
}
.selfie .low {
  height: 80vw;
  width: 80vw;
  max-height: 400px;
  max-width: 350px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url(../public/images/selfie_x_low_res.jpeg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
}
.selfie .high {
  height: 80vw;
  width: 80vw;
  max-height: 400px;
  max-width: 350px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url(../public/images/selfie.jpeg);
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.home-p1 {
  font-size: xx-large;
  margin: 0px;
  padding-bottom: 10px;
}

.home-p2 {
  font-size: xxx-large;
  margin: 0px;
  padding-bottom: 20px;
}

.home-p3 {
  margin: 0px;
  padding-bottom: 20px;
}

.home-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  background-image: -o-linear-gradient(left, rgb(0, 94, 255) , rgb(0, 136, 255));
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 94, 255)) , to(rgb(0, 136, 255)));
  background-image: linear-gradient(to right, rgb(0, 94, 255) , rgb(0, 136, 255));
  color: white;
  border-color: transparent;
}
.home-button:hover {
  background-image: -o-linear-gradient(left, white , white);
  background-image: -webkit-gradient(linear, left top, right top, from(white) , to(white));
  background-image: linear-gradient(to right, white , white);
  color: black;
  border-color: black;
}
.signiture {
  width: 260px;
  margin-right: 35px;
  float: right;
}

.interest {
  width: 250px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.interest-icon {
  height: 60px;
  width: auto;
}

#projects, #demo-list {
  margin-top: 150px;
  margin-bottom: 150px;
}

.tile {
  margin: 20px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.tile-image {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

.tile-title {
  font-weight: bold;
  font-size: large;
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
.modal-scrim {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.626);
}

.modal-content {
  position: relative;
  background-color: white;
  z-index: 4;
  padding: 0;
  width: 70%;
  max-width: 900px;
  overflow-y: scroll;
  border-radius: 10px; 
}

.modal-header {
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-inner {
  margin: 0;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-fade {
  height: 20px;
  width: 100%;
  background-image: -o-linear-gradient(top, transparent, #c6c6c6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#c6c6c6));
  background-image: linear-gradient(to bottom, transparent, #c6c6c6);
  margin-top: -20px;
}
.modal-controls {
  position: relative;
  background: white;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}
.modal-inner hr {
  width: 100%;
}
.modal-inner code {
  background-color: gainsboro;
  padding: 2px 6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.modal-inner blockquote {
  border-left-style: solid;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left-width: 3px;
  border-left-color: rgb(200, 200, 200);
}
.modal-inner a {
  color: blue;
}
.modal-inner img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.modal-inner p {
  text-align: left;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-inner h1 {
  text-align: center;
}
.modal-inner h3 {
  text-align: center;
  font-size: medium;
  font-weight: 100;
  margin-top: -5px;
}

.tile-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.demo-tile{
  background-color: whitesmoke;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
  max-width: 900px;
  margin: 40px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.407);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.407);
  overflow: hidden;
}
.demo-image {
  width: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.demo-description {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 25px;
}

#contact {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-methods{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}
.contact-method a {
  margin: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-method p{
  text-align: center;
}

@media screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .modal-inner {
    height: 80vh;
    padding: 0px 10px;
  }
  .demo-tile {
    background-color: whitesmoke;
    width: 90%;
    min-height: initial;
    height: 100px;
    margin: 20px 0px;
  }
  .demo-description {
    font-size: 15px;
  }

  .contact-methods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  header.mobile {
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 0px -5px 20px 5px rgba(0, 0, 0, 0.407);
            box-shadow: 0px -5px 20px 5px rgba(0, 0, 0, 0.407);
  }
  header.desktop {
    display: none;
  }

  .name {
    font-size: 25px;
  }

  .nav {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 0px;
    height: 100vh;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    left: 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-right-width: 0.5px;
  }

  .nav a {
    margin: 15px 40px;
  }

  .nav.closed {
    left: -50vw;
  }

  .hamburger-icon {
    height: 30px;
    width: 30px;
    padding: 20px
  }

  .x-icon {
    height: 25px;
    width: 25px;
    padding: 30px;
  }

  section {
    scroll-margin-top: 80px; /* update to actual size of mobile header */
  }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #home .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .title {
    position: relative;
    top: auto;
  }

  .signiture {
    display: none;
  }

  #projects, #demo-list {
    margin-top: 50px;
    margin-top: 50px;
  }
}


.transparent {
  opacity: 0;
}

.display-none {
  display: none;
}

.disable-scroll{
  overflow-y: hidden;
}

.exit-button {
  cursor: pointer;
  margin: 10px;
}

.primary-action-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  background-image: -o-linear-gradient(left, rgb(0, 94, 255) , rgb(0, 136, 255));
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 94, 255)) , to(rgb(0, 136, 255)));
  background-image: linear-gradient(to right, rgb(0, 94, 255) , rgb(0, 136, 255));
  color: white;
  border-color: transparent;
  margin-right: 10px;
}
.primary-action-button:hover {
  background-image: -o-linear-gradient(left, white , white);
  background-image: -webkit-gradient(linear, left top, right top, from(white) , to(white));
  background-image: linear-gradient(to right, white , white);
  color: black;
  border-color: black;
}

.secondary-action-button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 94, 255);
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: inherit;
  cursor: pointer;
  color: rgb(0, 94, 255);
  margin-right: 10px;
}
.secondary-action-button:hover {
  background-image: -o-linear-gradient(left, white , white);
  background-image: -webkit-gradient(linear, left top, right top, from(white) , to(white));
  background-image: linear-gradient(to right, white , white);
  color: black;
  border-color: black
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}